@page
@model PrivacyModel
@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>Meu nome é João !</p>
<p>Para mais informações acesse meu <a href="https://www.linkedin.com/in/joaoeduardodev/">LinkedIn</a></p>
